body p {
  color: $primary;
  margin: 0;
}
body a {
  text-decoration: none;
}
body h1 {
  font-weight: 700;
  color: $primary;
  margin: 0;
}
body h2 {
  font-weight: 700;
  color: $primary;
  margin: 0;
}
body h3 {
  font-weight: 700;
  color: $primary;
  margin: 0;
}
body h4 {
  font-weight: 700;
  color: $primary;
  margin: 0;
}
body h5 {
  font-weight: 700;
  color: $primary;
  margin: 0;
}
body h6 {
  font-weight: 700;
  color: $primary;
  margin: 0;
}
